# Configuração para aplicação WAR no Tomcat com Corretto 11
option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    
  aws:elasticbeanstalk:container:java:
    JavaVersion: 11
    ApplicationServer: tomcat85

commands:
  01_stop_incorrect_web_service:
    command: "systemctl stop web || true"
    ignoreErrors: true
  02_install_postgresql_client:
    command: "yum install -y postgresql"
    ignoreErrors: true

# Comandos a serem executados durante o deploy
commands:
  01_install_postgresql_client:
    command: "yum install -y postgresql"
    ignoreErrors: true

